
:root{
--primary:#695f00;
--on-primary:#ffffff;
--primary-container:#f9e534;
--on-primary-container:#201c00;
--secondary:#645f41;
--on-secondary:#ffffff;
--secondary-container:#ebe3bd;
--on-secondary-container:#1f1c05;
--tertiary:#406652;
--on-tertiary:#ffffff;
--tertiary-container:#c2ecd3;
--on-tertiary-container:#002113;
--error:#ba1a1a;
--on-error:#ffffff;
--error-container:#ffdad6;
--on-error-container:#410002;
--background:#fffbff;
--on-background:#1d1c16;
--surface:#fef9f0;
--on-surface:#1d1c16;
--surface-variant:#e8e2d0;
--on-surface-variant:#4a473a;
--outline:#7b7768;
--outline-variant:#cbc6b5;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#32302a;
--inverse-on-surface:#f5f0e7;
--inverse-primary:#dbc90a;
--surface-dim:#dedad1;
--surface-bright:#fef9f0;
--surface-container-lowest:#ffffff;
--surface-container-low:#f8f3ea;
--surface-container:#f2ede4;
--surface-container-high:#ece8df;
--surface-container-highest:#e7e2d9;
}

:root >.dark{
 --primary:#ffb870;
--on-primary:#4a2800;
--primary-container:#693c00;
--on-primary-container:#ffdcbe;
--secondary:#e1c1a4;
--on-secondary:#402c18;
--secondary-container:#59422c;
--on-secondary-container:#ffdcbe;
--tertiary:#c0cc9a;
--on-tertiary:#2b3410;
--tertiary-container:#414b24;
--on-tertiary-container:#dce8b4;
--error:#ffb4ab;
--on-error:#690005;
--error-container:#93000a;
--on-error-container:#ffb4ab;
--background:#201b16;
--on-background:#ebe0d9;
--surface:#17120e;
--on-surface:#ebe0d9;
--surface-variant:#51453a;
--on-surface-variant:#d5c3b5;
--outline:#9d8e81;
--outline-variant:#51453a;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#ebe0d9;
--inverse-on-surface:#352f2b;
--inverse-primary:#8b5000;
--surface-dim:#17120e;
--surface-bright:#3e3833;
--surface-container-lowest:#120d0a;
--surface-container-low:#201b16;
--surface-container:#241f1a;
--surface-container-high:#2e2924;
--surface-container-highest:#3a342f;
}